/*
Paleta de colores
gris nuevo negro:	1b1819

*/
/************************Estilos de la  Biblioteca de Mensajes *********************/
div.mensaje_error
  {
	background-color: #ff5c30;
    border: 1px solid #dd3c10;
    color: #ffffff;
  }
div.mensaje_advertencia
  {
	background-color: #ffebe8;
    border: 1px solid #dd3c10;
    color: #000000;
  }

div.mensaje_aviso
  {
	background-color: #fff1a8;
    border: 1px solid #efe1a8;
    color: #000000;
  }

/*************************** Estilo de la Estructura Principal *********************/
	@media print
	{
		#head		{ display:none; }
		#body_left		{ display:none; }
		#body_right	{ display:none; }
		#body
		{
			position: relative;
			width: 100%;
			left: 0;
			background-color: #ffffff;
		}
		#body_main
		{
			position: relative;
			left: 0;
			width: 100%;
			background-color: #ffffff;
		}
	}
	#subcontainer
	{
		float: left;
		width: 738px;
		padding: 10px;
		background: #ffffff;
	}
	#barra_entorno
	{
		float: left;
		width: 202px;
	}
	#head a
	{

	}
	#sending
	{
		position: absolute;
		top: 50px;
		left: 50%;
		margin-left: -50px;
		height: 100px;
		width: 100px;
		/*background-color: #FFFFFF;*/
		background-image: url(imagenes/cargando.gif);
		z-index: 99;
		visibility: hidden;
	}
	#head
	{
	}
	#body
	{
		padding-top:30px;
	}
	#mensajes
	{
	}
	#body_left
	{
		float:left;
		width:185px;
	}
	#body_main_0		{ float:left; }
	#body_main_1		{ float:left; }
	#body_main_2		{ float:left; }
	#body_main_3		{ float:left; width:553px }
	#body_main_contenido	{ float:left; width:380px } /* probar tamaño en recorrido y contenido... para que no se caigan los banners */
	#body_main_pop
	{
	}
	#body_right
	{
		float:right;
		width:160px;
	}
	#popup
	{
	}
	#popup_inmain
	{
	}
	#foot
	{
		margin-top:10px;
		font-size:11px;
		color:#ffffff;
	}
	#foot a
	{
		font-size:11px;
		font-weight:normal;
		text-decoration:none;
		color:#ffffff;
	}
	#foot a:hover
	{
		font-size:11px;
		font-weight:normal;
		text-decoration:underline;
		color:#ffffff;
	}
