/*
Paleta de colores
gris nuevo negro:	1b1819
rosa: 			f23b79

*/
	.foot_in_entorno
	{
		padding:0 10px 10px 10px;
		font-size:10px;
		text-transform:uppercase;
	}
	
	.home_titulo
	{
		margin-top:8px;
		width:600px;
		font-size:36px;
		font-weight:bold;
		text-transform:lowercase;
	}
	.home_copete
	{
		width:600px;
		font-size:36px;
		text-transform:lowercase;
	}
	
	.descripcion_home
	{
		position:absolute;
		bottom:0;
		left:0;
		width:300px;
		height:120px;
		line-height:50px;
		padding:10px;
		color:#ffffff;
		font-size:60px;
		font-weight:bold;
	}
	.descripcion_producto
	{
		position:absolute;
		top:30px;
		left:30px;
		background:#ffffff;
		width:300px;
		line-height:30px;
		padding:10px;
		color:#111111;
		font-size:30px;
		filter:alpha(opacity=70);
		-moz-opacity:0.7;
		-khtml-opacity: 0.7;
		opacity: 0.7;
	}
	
	#buscador_menu
	{
		font-size:11px;
		font-weight:bold;
	}
	.input_buscador_menu
	{
		width: 108px;
		height: 14px;
		font-size:11px;
		border:1px solid #cccccc;
	}
	#buscador_menu a
	{
		font-weight:normal;
		color:#999999;
		text-decoration:underline;
	}
	#buscador_menu a:hover
	{
		font-weight:normal;
		color:#f23b79;
		text-decoration:underline;
	}
	
	.fecha
	{
		margin-top: 40px;
		text-transform: lowercase;
	}
	
	#armador
	{
		position: relative;
		overflow: auto;
		margin-top: 20px;
	}
	#armador .izquierda
	{
		float: left;
		width: 180px;
		overflow: hidden;
	}
	#armador .derecha
	{
		float: right;
		width: 550px;
		overflow: hidden;
	}
	#armador .cantidad_resultados
	{
		font-size: 36px;
	}
	
	#filtros	{ color: #666666 }
	#filtros .titulo
	{
		font-size: 13px;
		font-weight: bold;
		text-transform: uppercase;
	}
	#filtros input
	{
		width: 100px;
		height: 12px;
		font-size: 10px;
	}
	#filtros input .boton
	{
		font-size: 10px;
		font-weight: bold;
	}
	#filtros a	{ color: #666666 }
	#filtros .mas			{ color: #f23b79 }
	#filtros .mas:hover	{ color: #f23b79 }
	#filtros .titulo_filtro
	{
		margin-top: 10px;
		font-weight: bold;
		color: #1b1819;
	}
	#filtros_popup
	{
		padding: 0 60px 0 20px;
	}
	#filtros_popup h2
	{
		text-transform: none;
	}
	
	#parametros
	{
		background-color: #dff3f2;
		padding: 5px 10px;
		margin: 10px 0 20px;
	}
	#parametros .grupo
	{
		padding-right: 20px;
	}
	#parametros .titulo
	{
		font-weight: bold;
	}
	#parametros .cruz
	{
		visibility: hidden;
		position: absolute;
		top: 0px;
		right: 5px;
	}
	
	#resultados	{ position: relative }
	#resultados .cabezal
	{
		border-top: 2px solid #c0c0c0;
		border-bottom: 2px solid #c0c0c0;
		padding: 8px 0;
	}
	#resultados .vistas
	{
		float: right;
		padding-right: 170px;
	}
	#resultados .orden
	{
		float: left;
	}
	#resultados #solapas
	{
		position: absolute;
		top: 24px;
		right: 0;
	}
	#div_popup1_inside #solapas
	{
		margin-top: 10px;
	}
	
	#listado	{ margin-top: 4px }
	#listado .atractivo
	{
		padding: 8px 0;
		border-bottom: 1px solid #c0c0c0;
	}
	#listado .atractivo .titulo a
	{
		font-size: 12px;
		font-weight: bold;
		color: #1b1819;
	}
	#listado .atractivo .titulo a:hover	{ color: #f23b79; }
	#listado .mosaico
	{
		float: left;
		margin: 2px 0 0 2px;
		width: 130px;
		height: 115px;
		padding: 2px;
		background: #efefef;
	}
	
	#mini_fichas .atractivo
	{
		float: left;
		width: 46%;
		padding: 10px;
		border-bottom: 1px dashed #CCC;
	}
	#mini_fichas .atractivo .titulo a
	{
		font-size: 12px;
		font-weight: bold;
		color: #1b1819;
	}
	#mini_fichas .atractivo .titulo a:hover	{ color: #f23b79; }
	
	#contenido	{	color:#444444;	}
	#contenido .contenido	{	margin-top: 10px;	}
	#contenido .titulo
	{
		font-size: 12px;
		font-weight: bold;
		color: #f23b79;
		text-transform: uppercase;
		padding: 4px 0;
	}
	#contenido .descripcion	{	font-size:12px; line-height:18px	}
	
	/********** BANNERs **********/
	
	.glosario	.banner		{ margin-bottom:6px; padding:2px; border:1px solid #cce100; font-family:Georgia, serif; }
	.glosario	.banner .banner_titulo 		{ margin:0;padding:0; }
	.glosario	.banner .banner_contenido	{ margin:0px; margin-top:-3px; padding:4px; padding-top:0; background:#cce100; }
	.glosario	.banner .banner_item		{ padding:6px; border-bottom:1px solid #cce100; font-size:10px; background:#ffffff; }
	.glosario	.banner .banner_cdContenido	{ font-weight:bold; }
	
	.agenda		.banner		{ margin-bottom:6px; padding:2px; border:1px solid #c5e2db; font-family:Georgia, serif; }
	.agenda		.banner .banner_titulo 		{ margin:0;padding:0; }
	.agenda		.banner .banner_contenido	{ margin:0px; margin-top:-3px; padding:4px; padding-top:0; background:#c5e2db; }
	.agenda		.banner .banner_item		{ padding:6px; border-bottom:1px solid #c5e2db; font-size:10px; background:#ffffff; }
	.agenda		.banner .banner_cdContenido	{ font-weight:bold; }
	
	.webs		.banner		{ margin-bottom:6px; padding:2px; border:1px solid #dedde2; font-family:Georgia, serif; }
	.webs		.banner .banner_titulo 		{ margin:0;padding:0; }
	.webs		.banner .banner_contenido	{ margin:0px; margin-top:-3px; padding:4px; padding-top:0; background:#dedde2; }
	.webs		.banner .banner_item		{ padding:6px; border-bottom:1px solid #dedde2; font-size:10px; background:#ffffff; }
	.webs		.banner .banner_cdContenido	{ font-weight:bold; }
	
	.infos		.banner		{ margin-bottom:6px; padding:2px; border:1px solid #dadbcb; font-family:Georgia, serif; }
	.infos		.banner .banner_titulo 		{ margin:0;padding:0; }
	.infos		.banner .banner_contenido	{ margin:0; padding:6px; }
	.infos		.banner .banner_item		{ padding:4px 0; border-bottom:1px solid #dadbcb; font-size:10px; }
	.infos		.banner .banner_cdContenido	{ font-weight:bold; }
	
	.datos		.banner		{ margin-bottom:6px; padding:2px; border:1px solid #dadbcb; font-family:Georgia, serif; }
	.datos		.banner .banner_titulo 		{ margin:0;padding:0; }
	.datos		.banner .banner_contenido	{ margin:0; padding:6px; }
	.datos		.banner .banner_item		{ padding:4px 0; border-bottom:1px solid #dadbcb; font-size:10px; }
	.datos		.banner .banner_cdContenido	{ font-weight:bold; }
	
	.expresiones	.banner		{ margin-bottom:6px; padding:2px; border:1px solid #dadbcb; font-family:Georgia, serif; }
	.expresiones	.banner .banner_titulo 		{ margin:0;padding:0; }
	.expresiones	.banner .banner_contenido	{ margin:0; padding:6px; }
	.expresiones	.banner .banner_item		{ padding:4px 0; border-bottom:1px solid #dadbcb; font-size:10px; }
	.expresiones	.banner .banner_cdContenido	{ font-weight:bold; }
	
	.telefonos	.banner		{ margin-bottom:6px; padding:2px; border:1px solid #dadbcb; font-family:Georgia, serif; }
	.telefonos	.banner .banner_titulo 		{ margin:0;padding:0; }
	.telefonos	.banner .banner_contenido	{ margin:0; padding:6px; }
	.telefonos	.banner .banner_item		{ padding:4px 0; border-bottom:1px solid #dadbcb; font-size:10px; }
	.telefonos	.banner .banner_cdContenido	{ font-weight:bold; }
	
	
	/********** BANNERs **********/
	
	#buscador_interior
	{
		margin:10px 0 0 0;
		overflow: auto;
		padding: 6px 14px;
		color:#ffffff;
		background:#4d4d4d;
		-moz-border-radius-topleft:3px;
		-webkit-border-top-left-radius:3px;
		-moz-border-radius-topright:3px;
		-webkit-border-top-right-radius:3px;
		-moz-border-radius-bottomleft:3px;
		-webkit-border-bottom-left-radius:3px;
		-moz-border-radius-bottomright:3px;
		-webkit-border-bottom-right-radius:3px;
	}
	#buscador_interior input
	{
		width:200px;
		height:17px;
		border:none;
	}
	
	#solapas		{  }
	
	.paginado	{ float:left }
	.orden		{ float:right }
	.titulo_seccion		{ font-size:40px; margin-top:10px; color:#1b1819; }
	.path_seccion		{ font-size:12px; font-weight:bold; text-transform:uppercase; color:#f23b79 }
	
	#link 			{ margin-bottom:17px; padding:3px 0 0 5px; width:134px; height:17px; background:url(../imagenes/fondo_link.gif); }
	#link a			{ font-size:11px; font-weight:bold; color:#ffffff; }
	
	
	