/*
Paleta de colores
gris nuevo negro:	1b1819

*/

	#contenido
	{
		border: 1px solid green;
		padding: 10px;
	}
	#contenido .contenido
	{
		margin-top: 10px;
	}
	#contenido .espacio_icono
	{
		width: 100px;
	}
	#contenido .texto
	{
		width: 600px;
		margin-left: 10px;
		vertical-align: top;
	}
	#contenido .titulo
	{
		font-size: 11px;
		font-weight: bold;
		text-transform: uppercase;
	}
	#contenido .descripcion
	{
		font-size: 11px;
	}
	
	#contenido_home
	{
	}
	#contenido_home .celda
	{
		margin: 6px 0 0 6px;
		width: 176px;
		height: 120px;
		border: 1px solid #eeeeee;
		overflow: hidden;
	}
	#contenido_home .titulo
	{
		font-size: 20px;
		font-weight: bold;
	}
	