/*
Paleta de colores
gris nuevo negro:	1b1819
rosa: 			f23b79

*/

	.foot_in_head
	{
		padding:10px;
		font-size:10px;
		text-transform:uppercase;
	}
	
	#body_main_head .titulo
	{
		font-size: 30px;
		color: #1b1819;
	}
	
	#buscador_menu
	{
		font-size:11px;
		font-weight:bold;
	}
	.input_buscador_menu
	{
		width: 108px;
		height: 14px;
		font-size:11px;
		border:1px solid #cccccc;
	}
	#buscador_menu a
	{
		font-weight:normal;
		color:#999999;
		text-decoration:underline;
	}
	#buscador_menu a:hover
	{
		font-weight:normal;
		color:#f23b79;
		text-decoration:underline;
	}
	
	.fecha
	{
		margin-top: 40px;
		text-transform: lowercase;
	}
	
	#armador
	{
		position: relative;
		overflow: auto;
		margin-top: 20px;
	}
	#armador .izquierda
	{
		float: left;
		width: 180px;
		overflow: hidden;
	}
	#armador .derecha
	{
		float: right;
		width: 550px;
		overflow: hidden;
	}
	#armador .cantidad_resultados
	{
		font-size: 36px;
	}
	
	#filtros	{ color: #666666 }
	#filtros .titulo
	{
		font-size: 13px;
		font-weight: bold;
		text-transform: uppercase;
	}
	#filtros input
	{
		width: 100px;
		height: 12px;
		font-size: 10px;
	}
	#filtros input .boton
	{
		font-size: 10px;
		font-weight: bold;
	}
	#filtros a	{ color: #666666 }
	#filtros .mas			{ color: #f23b79 }
	#filtros .mas:hover	{ color: #f23b79 }
	#filtros .titulo_filtro
	{
		margin-top: 10px;
		font-weight: bold;
		color: #1b1819;
	}
	#filtros_popup
	{
		padding: 0 60px 0 20px;
	}
	#filtros_popup h2
	{
		text-transform: none;
	}
	
	#parametros
	{
		background-color: #dff3f2;
		padding: 5px 10px;
		margin: 10px 0 20px;
	}
	#parametros .grupo
	{
		padding-right: 20px;
	}
	#parametros .titulo
	{
		font-weight: bold;
	}
	#parametros .cruz
	{
		visibility: hidden;
		position: absolute;
		top: 0px;
		right: 5px;
	}
	
	#resultados	{ position: relative }
	#resultados .cabezal
	{
		border-top: 2px solid #c0c0c0;
		border-bottom: 2px solid #c0c0c0;
		padding: 8px 0;
	}
	#resultados .vistas
	{
		float: right;
		padding-right: 170px;
	}
	#resultados .orden
	{
		float: left;
	}
	#resultados #solapas
	{
		position: absolute;
		top: 24px;
		right: 0;
	}
	#div_popup1_inside #solapas
	{
		margin-top: 10px;
	}
	
	#listado	{ margin-top: 4px }
	#listado .atractivo
	{
		padding: 8px 0;
		border-bottom: 1px solid #c0c0c0;
	}
	#listado .atractivo .titulo a
	{
		font-size: 12px;
		font-weight: bold;
		color: #1b1819;
	}
	#listado .atractivo .titulo a:hover	{ color: #f23b79; }
	#listado .mosaico
	{
		float: left;
		margin: 2px 0 0 2px;
		width: 130px;
		height: 115px;
		padding: 2px;
		background: #efefef;
	}
	
	#mini_fichas .atractivo
	{
		float: left;
		width: 46%;
		padding: 10px;
		border-bottom: 1px dashed #CCC;
	}
	#mini_fichas .atractivo .titulo a
	{
		font-size: 12px;
		font-weight: bold;
		color: #1b1819;
	}
	#mini_fichas .atractivo .titulo a:hover	{ color: #f23b79; }
	
	#contenido	{	color:#444444;	}
	#contenido .contenido	{	margin-top: 10px;	}
	#contenido .titulo
	{
		font-size: 12px;
		font-weight: bold;
		color: #f23b79;
		text-transform: uppercase;
		padding: 4px 0;
	}
	#contenido .descripcion	{	font-size:12px;	}
	
	#banner
	{
		padding:6px;
		background:#f4f4f4;
		-moz-border-radius-topleft:6px;
		-webkit-border-top-left-radius:6px;
		-moz-border-radius-topright:6px;
		-webkit-border-top-right-radius:6px;
		-moz-border-radius-bottomleft:6px;
		-webkit-border-bottom-left-radius:6px;
		-moz-border-radius-bottomright:6px;
		-webkit-border-bottom-right-radius:6px;
		margin-bottom:6px;
		color:#666666;
		font-family:sans-serif;
	}
	#banner .titulo
	{
		font-weight:normal;
		text-transform:uppercase;
		padding:4px 0;
		font-size:9px;
	}
	#banner .descripcion	{	font-size:9px;	}
	#banner ul	{ margin:0 auto; padding:0; }
	#banner ul li	{ padding:0; margin:10px; }
	
	#recorridos	{ }
	#recorridos .guia				{ font-size:12px; font-weight:bold; text-transform:uppercase; color:#f23b79 }
	#recorridos .titulo_recorrido	{ font-size:40px; margin-top:10px; }
	#recorridos #buscador
	{
		margin:20px 0;
		overflow: auto;
		padding: 6px 14px;
		color:#ffffff;
		background:#4d4d4d;
		-moz-border-radius-topleft:3px;
		-webkit-border-top-left-radius:3px;
		-moz-border-radius-topright:3px;
		-webkit-border-top-right-radius:3px;
		-moz-border-radius-bottomleft:3px;
		-webkit-border-bottom-left-radius:3px;
		-moz-border-radius-bottomright:3px;
		-webkit-border-bottom-right-radius:3px;
	}
	#recorridos #buscador input
	{
		width:200px;
		height:17px;
		border:none;
	}
	
	
	
	
	
	