/*
Paleta de colores
gris nuevo negro:	1b1819
rosa: 			f23b79

*/

	#menu	{		}
	.titulo_menu		{ margin-bottom:15px; font-weight:bold; text-transform:uppercase; line-height:10px; }
	.titulo_menu_home	{ margin: -25px 0 5px 10px; font-size:40px; }

	/*	ENTORNOS	*/
	.menu_entornos{margin:0 auto; padding:0; height:30px; width:100%; display:block; background:url('../imagenes/menu_entornos.png') repeat-x;}
	.menu_entornos li{padding:0; margin:0; list-style:none; display:inline;}
	.menu_entornos li a{float:left; padding-left:15px; display:block; color:#1b1819; text-decoration:none; font-size:11px; font-weight:bold; text-transform: uppercase; cursor:pointer; background:url('../imagenes/menu_entornos.png') 0px -30px no-repeat;}
	.menu_entornos li a span{float:left; display:block; height:15px; padding:15px 15px 0 0; background:url('../imagenes/menu_entornos.png') 100% -30px no-repeat;}
	.menu_entornos li a:hover{background-position:0px -60px; color:#ffffff;}
	.menu_entornos li a:hover span{background-position:100% -60px;}
	.menu_entornos li a.active, .menu_entornos li a.active:hover{height:30px; font-size:11px; font-weight:bold; text-transform: uppercase; background:url('../imagenes/menu_entornos.png') 0px -90px no-repeat; color:#ffffff;}
	.menu_entornos li a.active span, .menu_entornos li a.active:hover span{height:30px; background:url('../imagenes/menu_entornos.png') 100% -90px no-repeat;}	
	
	/*	FILTROS ARMADORES 		*/
	.filtro_ul	{margin:0 auto; padding:0}
	.filtro_ul li{margin:0; padding:0; list-style:none;}
	
	/*	SOLAPAS ARMADORES		*/
	#resultados #solapas .solapas	{margin:0 auto; padding:0}
	#resultados #solapas .solapas li	{padding:0 2px; margin:0; list-style:none; display:inline; text-transform:lowercase}
	
	/*	SOLAPAS POP IN		*/
	#div_popup1_inside #solapas .solapas{margin:0 auto; padding:0; height:30px; width:100%; display:block; background:url('../imagenes/fondo_solapas_celestes.gif') repeat-x;}
	#div_popup1_inside #solapas .solapas li{padding:0; margin:0; list-style:none; display:inline;}
	#div_popup1_inside #solapas .solapas li a{float:left; padding-left:15px; display:block; color:#999999; text-decoration:none; font-size:12px; text-transform: lowercase; cursor:pointer; background:url('../imagenes/solapas_celestes.png') 0px -30px no-repeat;}
	#div_popup1_inside #solapas .solapas li a span{float:left; display:block; height:18px; padding:12px 15px 0 0; background:url('../imagenes/solapas_celestes.png') 100% -30px no-repeat;}
	#div_popup1_inside #solapas .solapas li a:hover{background-position:0px -60px; color:#1b1819;}
	#div_popup1_inside #solapas .solapas li a:hover span{background-position:100% -60px;}
	#div_popup1_inside #solapas .solapas li a.active, .solapas li a.active:hover{height:30px; font-size:12px; text-transform: lowercase; background:url('../imagenes/solapas_celestes.png') 0px -90px no-repeat; color:#1b1819;}
	#div_popup1_inside #solapas .solapas li a.active span, .solapas li a.active:hover span{height:30px; background:url('../imagenes/solapas_celestes.png') 100% -90px no-repeat;}	

	/*	SOLAPAS RECORRIDO		*/
	#recorrido #solapas .solapas{margin:0 auto; padding:0; height:30px; width:100%; display:block; background:url('../imagenes/fondo_solapas_celestes.gif') repeat-x;}
	#recorrido #solapas .solapas li{padding:0; margin:0; list-style:none; display:inline;}
	#recorrido #solapas .solapas li a{float:left; padding-left:15px; display:block; color:#999999; text-decoration:none; font-size:12px; text-transform: lowercase; cursor:pointer; background:url('../imagenes/solapas_celestes.png') 0px -30px no-repeat;}
	#recorrido #solapas .solapas li a span{float:left; display:block; height:18px; padding:12px 15px 0 0; background:url('../imagenes/solapas_celestes.png') 100% -30px no-repeat;}
	#recorrido #solapas .solapas li a:hover{background-position:0px -60px; color:#1b1819;}
	#recorrido #solapas .solapas li a:hover span{background-position:100% -60px;}
	#recorrido #solapas .solapas li a.active, .solapas li a.active:hover{height:30px; font-size:12px; text-transform: lowercase; background:url('../imagenes/solapas_celestes.png') 0px -90px no-repeat; color:#1b1819;}
	#recorrido #solapas .solapas li a.active span, .solapas li a.active:hover span{height:30px; background:url('../imagenes/solapas_celestes.png') 100% -90px no-repeat;}	

	/*	MENU INTERIOR	*/
	.menuitem {margin:0 auto; padding:0; }
	.menuitem li{padding:0; margin:0; list-style:none;}
	.menuitem li a{color:#1b1819; text-decoration:none; font-size:11px; font-weight:bold; cursor:pointer; }
	.menuitem li a span{padding:0;}
	.menuitem li a:hover{color:#f23b79;}
	.menuitem li a:hover span{}
	.menuitem li a.active, .menuitem li a.active:hover{font-size:11px; font-weight:bold; color:#f23b79;}
	.menuitem li a.active span, .menuitem li a.active:hover span{}
	.menuitem ul {margin:0 auto; padding:0; }
	.menuitem ul li{padding:0; margin:0; list-style:none;}
	.menuitem ul li a{color:#666666; text-decoration:none; font-size:11px; font-weight:normal; cursor:pointer; }
	.menuitem ul li a span{padding:0;}
	.menuitem ul li a:hover{color:#f23b79;}
	.menuitem ul li a:hover span{}
	.menuitem ul li a.active, .menuitem li a.active:hover{font-size:11px; font-weight:bold; color:#f23b79;}
	.menuitem ul li a.active span, .menuitem li a.active:hover span{}

	/*	MENU HOME	*/
	.menuhome {margin:0 auto; padding:0; float:left; width:590px }
	.menuhome li{padding:0; margin:6px; width:180px; height:250px; list-style:none; float:left;}
	.menuhome li a{color:#1b1819; text-decoration:none; font-size:11px; font-weight:normal; cursor:pointer; }
	.menuhome li a span{padding:0;}
	.menuhome li a:hover{color:#f23b79;}
	.menuhome li a:hover span{}
	.menuhome li a.active, .menuhome li a.active:hover{font-size:11px; font-weight:normal; color:#f23b79;}
	.menuhome li a.active span, .menuhome li a.active:hover span{}
	.menuhome li div.titulo	{ padding:10px 2px; font-size:20px; font-weight: bold; }

